/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
    margin: 0;
    padding: 0;
}



/**
 * Basic styling
 */
body {
    font-family: $base-font-family;
    font-size: $base-font-size;
    line-height: $base-line-height;
    font-weight: 300;
    color: $text-color;
    background-color: $background-color;
    -webkit-text-size-adjust: 100%;
}



/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
    margin-bottom: $spacing-unit / 2;
}



/**
 * Images
 */
img {
    max-width: 100%;
    vertical-align: middle;
}



/**
 * Figures
 */
figure > img {
    display: block;
}

figcaption {
    font-size: $small-font-size;
}



/**
 * Lists
 */
ul, ol {
    margin-left: $spacing-unit;
}

li {
    > ul,
    > ol {
         margin-bottom: 0;
    }
}



/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}



/**
 * Links
 */
a {
    color: $brand-color;
    text-decoration: none;

    &:visited {
        color: darken($brand-color, 15%);
    }

    &:hover {
        color: $text-color;
        text-decoration: underline;
    }
}



/**
 * Blockquotes
 */
blockquote {
    color: $grey-color;
    border-left: 4px solid $grey-color-light;
    padding-left: $spacing-unit / 2;
    font-size: 18px;
    letter-spacing: -1px;
    font-style: italic;

    > :last-child {
        margin-bottom: 0;
    }
}



/**
 * Code formatting
 */
pre,
code {
    font-size: 15px;
    border: 1px solid $grey-color-light;
    border-radius: 3px;
    background-color: #eef;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: scroll;

    > code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}



/**
 * Wrapper
 */
.wrapper {
    max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit} * 2));
    max-width:         calc(#{$content-width} - (#{$spacing-unit} * 2));
    margin-right: auto;
    margin-left: auto;
    padding-right: $spacing-unit;
    padding-left: $spacing-unit;
    position: relative;
    @extend %clearfix;

    @include media-query($on-laptop) {
        max-width: -webkit-calc(#{$content-width} - (#{$spacing-unit}));
        max-width:         calc(#{$content-width} - (#{$spacing-unit}));
        padding-right: $spacing-unit / 2;
        padding-left: $spacing-unit / 2;
    }
}



/**
 * Clearfix
 */
%clearfix {

    &:after {
        content: "";
        display: table;
        clear: both;
    }
}



/**
 * Icons
 */
.icon {

    > svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;

        path {
            fill: $grey-color;
        }
    }
}


/**
 * GoodReads
 */
article.post-content.with-goodreads {
  width: 80%;
}

#gr_custom_widget_1494711042 {
  margin-left: 30px;
  width: 20%;

  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;

  #gr_spinner {
    text-align: center;
  }

  .gr_custom_container_1494711042 {
    border-left: 1px solid #e8e8e8;
    padding: 0px 5px 10px 5px;
    background-color: transparent;
    max-width: 150px;
    height: 100%;
  }
  .gr_custom_header_1494711042 {
    border-bottom: 1px solid #e8e8e8;
    width: 80%;
    margin: 0 auto 15px auto;
    text-align: center;
    font-size: 100%;
  }
  .gr_custom_each_container_1494711042 {
    width: 90%;
    margin: 0 auto 10px auto;
    clear: both;
    overflow: auto;
    padding-bottom: 14px;
    padding-top: 14px;
    border-bottom: 1px solid #e8e8e8;
    text-align: center;
  }
  .gr_custom_each_container_1494711042:last-child {
    border-bottom: 0;
    margin-bottom: 0;
  }
  .gr_custom_book_container_1494711042 {
    overflow: hidden;
    height: 160px;
    margin-left: 4px;
    width: auto;
    text-align: center;
  }
  .gr_custom_author_1494711042 {
    font-size: 10px;
  }
}